<section class="mt-12 bg-gradient-to-r from-orange-50 to-yellow-50 p-8 rounded-lg">
  <h2 class="text-3xl font-bold mb-4 text-center">Education</h2>

  <div class="text-center">
    <div class="flex items-center justify-center gap-3">
      <h3 class="text-2xl font-semibold text-blue-400"><%= education[:institution] %></h3>
      <%= image_tag "/nuces.png", alt: "FAST NUCES Logo", width: 30, height: 30 %>
    </div>
    <p class="text-xl font-bold text-green-400 mt-2"><%= education[:degree] %></p>
    <p class="text-yellow-400 font-medium mt-4 max-w-2xl mx-auto"><%= education[:description] %></p>
  </div>
</section>
